# macOS
.DS_Store

# Xcode
build/
*.xcodeproj
*.xcworkspace
*.xcuserstate
DerivedData/
.swiftpm/
xcuserdata/

# Swift Package Manager
.build/

# Frameworks
Frameworks/*.xcframework/
Frameworks/*.zip

# Whisper Models
Tests/Samples/Models/*.bin
Tests/Samples/Models/*.gguf
